@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
 font-family: "Inter", sans-serif;
}

.hero-bg {
  background-image: url("../assets/images/background-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* min-height:100vh; */
}


/* -------------------slider css -------------- */

.mySwiper .swiper-slide {
    width: auto !important;
}

.swiper-wrapper {
    transition-timing-function: linear !important;
}

/*-------------------- toolkit-bg---------------------- */

.toolkit-bg {
    background-image: url('../assets/images/toolkit-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size:100% 100%; */
}