@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
 font-family: "Inter", sans-serif;
}

.hero-bg {
  background-image: url("../assets/images/background-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}